body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1255 {
  position:absolute;
  left:177px;
  top:24px;
  width:161px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1257 {
  position:absolute;
  left:119px;
  top:24px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00AAEF;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1259 {
  position:absolute;
  left:177px;
  top:82px;
  width:796px;
  height:176px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1261 {
  position:absolute;
  left:119px;
  top:82px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00AAEF;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u1263 {
  position:absolute;
  left:295px;
  top:289px;
  width:560px;
  height:420px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1265 {
  position:absolute;
  left:119px;
  top:783px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00AAEF;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1267 {
  position:absolute;
  left:177px;
  top:783px;
  width:796px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u1269 {
  position:absolute;
  left:295px;
  top:1053px;
  width:560px;
  height:420px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1271 {
  position:absolute;
  left:119px;
  top:1526px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00AAEF;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1273 {
  position:absolute;
  left:177px;
  top:1526px;
  width:796px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:420px;
}
#u1275 {
  position:absolute;
  left:295px;
  top:1597px;
  width:560px;
  height:420px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:202px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u1277 {
  position:absolute;
  left:119px;
  top:2059px;
  width:46px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00AAEF;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1279 {
  position:absolute;
  left:177px;
  top:2059px;
  width:796px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
